{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}"> <!-- Do not change to keep as {{@blog.url}}" for Home-->
		Home <!-- Change menu item text -->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="#top"> <!-- Do not change to keep as {{@blog.url}}" for Home-->
		About <!-- Change menu item text -->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="#content"> <!-- Over on the left, change to your static url text {{@blog.url}}/your-url-slug-->
		Contact <!-- Change menu item text -->
	</a>
</li>
{{!End Menu Item}}
