{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="http://facebook.com/enteryoururl" class="icon fa-facebook"></a></li>
    <li><a href="http://twitter.com/enteryoururl" class="icon fa-twitter"></a></li>
    <li><a href="http://plus.google.com/enteryoururl" class="icon fa-google-plus"></a></li>
</ul>
