    <!-- Footer -->
    <footer id="footer">
        <div class="rss"><a href="{{blog.url}}/rss/" class="icon fa-rss"></a></div>
        <div class="copyright">
            Made by <a href="https://crystalline-themes.com">Crystalline Themes</a> with much love and passion.<br/>
            &copy; 2015 <a href="https://crystalline-themes.com">Crystalline Themes</a>. All rights reserved.
        </div>
    </footer>