<!-- Intro for Posts -->
<!-- Banner -->
<section id="banner">
    <h2>{{title}}</h2>
    <p class="post-meta">Posted by {{author}} on <time class="blog-date" datetime="{{date format='MMMM DD, YYYY'}}">{{date format="MMMM DD, YYYY"}}</time></p>
</section>
