<!-- Header -->
<header id="header">
    <div class="container">
        <div class="12u">
            <div class="header-container">
                <h1><a href="{{@blog.url}}">Aventurine</a></h1>
                <nav id="nav">
                    {{navigation}}
                </nav>
            </div>
        </div>
    </div>
</header>
<aside id="sub-header" class="container">
    <div class="row">
        <div class="12u">
            {{>social-icons}}
        </div>
    </div>
</aside>
