<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <nav id="nav">
        <ul>
            {{>menu}}
        </ul>
    </nav>
</header>
